BODY {
  font-family: sans-serif
}

H1, H2 {
  text-align: center
}

.fk {
  font-weight: bold
}

.d {
  font-style: italic 
}

.piros {
  color: red 
}

.narancs {
  color: orange
}

.zold {
  color: green
}

.nagyobb {
  font-size: 150%
}

#logo {
  width: 50%;
  float: right;
  margin: 20px
}
