BODY {
  font-family: sans-serif;
  background-image: url('hatter.jpg');
  background-size: cover
}

H1, H2 {
  text-align: center
}

.fk {
  font-weight: bold
}

.d {
  font-style: italic 
}

.piros {
  color: red 
}

.narancs {
  color: orange
}

.zold {
  color: green
}

.nagyobb {
  font-size: 150%
}

#logo {
  width: 25%;
  float: right;
  margin: 20px
}

TD, TH {
  padding: 3px
}

#container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: auto;
  padding: 5px
}


